@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap");
#title {
  font-family: "Montserrat", sans-serif;
  color: #121212;
  top: -12px;
  left: 20px;
  position: absolute;
}

#subtitle {
  font-family: "Montserrat", sans-serif;
  top: 5px;
  color: #121212;
  font-size: 14px;
  left: 130px;
  position: absolute;
}

.container {
  font-family: "Montserrat", sans-serif;
}

#googleSignIn {
  position: absolute;
  right: 20px;
  top: 7px;
}

#Nav {
  position: relative;
  margin-bottom: 15px;
  width: 100vw;
  height: 45px;
  border: 1px solid rgb(153, 149, 149);
}
